.title-name{
  font-weight: bolder;
}

table {
  border: 1px solid black;
  margin: 2px;
}

td {
  border: 1px solid black;
  padding: 3px;
}

.func-content {
  display: inline-block;
  vertical-align: top;
}


