html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
}

div {
  margin: 5px;
  border-radius: 10px;
}

table {
  border-spacing: 3px;
}

td {
  background-color: antiquewhite;
  padding: 3px;
  max-width: 250px;
  border-radius: 5px;
}

td.key {
  font-weight:bold;
  text-transform: capitalize;
  text-align: center;
}

td.value {
  text-align: left;
}

div.container {
  width: 3000px;
}

div.row {
  border: 1px solid;
  width: fit-content;
}

div.col {
  background-color: #1232b7;
  min-height:100px;
  min-width: 100px;
  display: inline-block;
  vertical-align: top;
}

div.card {
  background-color: #4cde79;
  min-width: 100px;
  min-height: 100px;
  padding: 5px;
}

div.card.focus {
  background-color: #fd479b;
}