html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
}

div {
  margin       : 5px;
  border-radius: 10px;
}

table {
  border-spacing: 3px;
}

td {
  background-color: antiquewhite;
  padding         : 3px;
  border-radius   : 5px;
  /* allow new line in td and wrap content*/
  white-space     : pre-wrap;
}

td.key {
  font-weight   : bold;
  text-transform: capitalize;
  text-align    : center;
}

td.value {
  text-align: left;
  width     : 100%;
}

div.container {
  width: 3000px;
}

div.row {
  /* border: 1px solid; */
  width: fit-content;
}

div.col {
  /* background-color: #3d3d3d; */
  min-height    : 100px;
  min-width     : 100px;
  max-width     : 500px;
  display       : inline-block;
  vertical-align: middle;
}

div.card {
  background-color: #2f6897;
  min-width       : 100px;
  min-height      : 100px;
  padding         : 5px;
}

div.card.focus {
  background-color: #ff7361;
}